---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <h2>Hello there! I will be posting blogs occasionally about life, school, and food. Stay tune!</h2>
  <p>This is a static blog built with Astro.</p>
  <a href="/blog">Check out the latest posts</a>
  <img src="images/cat.jpg">
</Layout>

